.pagination {
	display: flex;
	gap: 1em;
	margin: 1em;
	justify-content: center;

	@media (min-width: $breakpoint-md) {
		grid-column: span 2;
	}

	@media (min-width: $breakpoint-lg) {
		grid-column: span 3;
	}

	button {
		background-color: #5b80fa;
		padding: 1rem;
		border-radius: 3rem;
		color: white;
		aspect-ratio: 1;
		transition: box-shadow 0.3s ease-out;

		.svg-inline--fa {
			aspect-ratio: 1;
			height: 1.5rem;
		}

		&:disabled {
			cursor: initial;
			opacity: 0.5;
		}
	}
}
