.logo img {
	width: 200px;
}

#home {
	> header {
		padding-top: 14em;
		background-image: url(../../img/mascotte-romeo.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right top;

		@media (min-width: $breakpoint-lg) {
			position: relative;
			background-position: 72% top;
		}
	}
}
