#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@media (min-width: $breakpoint-md) {
		width: 90vw;
	}

	@media (min-width: $breakpoint-lg) {
		width: 100%;
		align-items: center;
	}

	.container {
		flex: 1;
		margin: 1em 2em;

		@media (min-width: $breakpoint-lg) {
			margin: 0;
		}
	}

	.rubriques {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;

		@media (min-width: $breakpoint-md) {
			grid-template-columns: repeat(3, 1fr);
			grid-column: 2 span;
		}

		@media (min-width: $breakpoint-lg) {
			margin-right: 3em;
		}


	}

	>header {
		margin: 1em 2em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}


#home {
	>header {
		p {
			background-color: $background;

			@media (min-width: $breakpoint-lg) {
				background-color: initial;
			}
		}
	}

	@media (min-width: $breakpoint-lg) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1em;

		>header {
			grid-column: span 3;
		}
	}
}

#mentions-legales,
#politique-confidentialite {

	h2 {
		margin: 2em 0 1em 0;
	}
}

footer a:hover {
	color: $primary-color;
}


@media (min-width: $breakpoint-lg) {
	main {
		max-width: $breakpoint-lg;
		width: 100%;
	}
}

@media (min-width: $breakpoint-lg) {
	#login {
		max-width: 60vw;
		width: 100%;
	}
}
