@mixin card( $background: $white,
$color: $secondary-color,
$shadow: $shadow,
$title-color: $primary-color) {
	background-color: $background;
	color: $color;
	padding: 2em;
	box-shadow: $shadow;
	border-radius: $border-radius-small;
	text-align: center;
	cursor: pointer;

	@media (min-width: $breakpoint-lg) {
		cursor: initial;
	}

	h2 {
		color: $title-color;
		text-align: center;
	}
}

@mixin input() {
	padding: 1.5rem 2rem;
	border: 1px solid $primary-color;
	width: 100%;
	border-radius: 3rem;
	color: $secondary-color;
	font-style: italic;

	&:focus-visible {
		padding: 1.5rem 2rem;
		padding-inline: 1.5rem 2rem;
		outline-offset: 0;
		outline: 0;
	}

	&::placeholder {
		font-style: italic;
	}

	&::-webkit-search-cancel-button {
		margin-right: 3em;
	}
}

@mixin button($background: $primary-color, $color: $white) {
	background-color: $background;
	color: $color;
	padding: 1em 2em;
	border-radius: 1.5em;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1rem;
	transition: background-color 0.2s ease-in;

	&:hover {
		@if $background==$primary-color {
			background-color: $secondary-color;
		}
		@else {
			background-color: $primary-color;
			color: $white;
		}
	}

	@media (min-width: $breakpoint-lg) {
		padding: 1em;
	}

	&:disabled {
		cursor: not-allowed;
		background: $third-color;
	}
}
