@mixin card(
	$background: $white,
	$color: $secondary-color,
	$shadow: $shadow,
	$title-color: $primary-color
) {
	background-color: $background;
	color: $color;
	padding: 2em;
	box-shadow: $shadow;
	border-radius: $border-radius-small;
	text-align: center;

	h2 {
		color: $title-color;
		text-align: center;
		margin-bottom: 1em;
	}
}
