$primary-color: #5b80fa;
$secondary-color: #051b33;
$third-color: #cbe9ff;
$background: #eff3f6;
$white: white;

$font-size: 1.4rem;

$blue-shadow: 0px 3px 6px rgba(91, 128, 250, 0.5);
$shadow: 0px 3px 6px rgba(31, 31, 31, 0.2);

$gradient: linear-gradient(
	180deg,
	rgba(5, 27, 51, 0) 0%,
	rgb(5, 27, 51, 0.8) 100%
);

$border-radius-small: 1.5em;
